<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=gb2312" http-equiv="Content-Type">
<title>hnws.com</title>
<script language="javascript">
 if (top==self)top.location="/";
</script>
</head>
<body leftmargin="0" topmargin="0">
<script language="javascript">
 
document.write('<embed width="700" height="430" src="http://player.hz.letv.com/live.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" play="true" loop="true" scale="noscale" wmode="opaque" devicefont="false" bgcolor="#000000" name="www_player" menu="true" allowscriptaccess="always" allowfullscreen="true" salign="TL" flashvars="streamid=ws_hunanwsHD_1800&amp;cid=4&amp;gslb=http://live.gslb.letv.com/&amp;autoplay=true&amp;rate=800&amp;typeFrom=letv_live_hao123live&amp;ark=100&amp;cid=4&amp;ch=letv_live_sports_ws_hunanwsHD_1800_1800&amp;usewhitelist=0" type="application/x-shockwave-flash"></embed>');
</script>
</body>
</html>
