<!DOCTYPE html>
<html lang="utf-8">
<head>
        <meta charset="utf-8" />
        <title>叉叉直播-电视直播-网络电视</title>
        <meta content="直播,叉叉直播,直播,在线直播,在线电视直播,网络电视直播,网络电视直播网,卫星电视,直播在线观看,国内外频道直播" name="keywords">
        <meta content="叉叉电视直播—专业全面的电视直播平台。及时收录国内外电视台节目，高清流畅直播免费在线观看" name="description">
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('tv_v.static', filename='css/images/favicon.ico',_external=True)}}" />
        <link rel="stylesheet" href="{{url_for('tv_v.static', filename='css/style.css',_external=True)}}" type="text/css" media="all" />
</head>
<body>
	<div id="wrapper">
		<div class="light-bg">
			<div class="shell">
				<div class="header">
	
                                        <h1 id="logo"><a href="{{url_for('tv_v.mainpage',_external=True)}}">叉叉直播</a></h1>
                                        <nav id="navigation">
                                                <ul>
                                                        <li><a href="{{url_for('tv_v.mainpage',_external=True)}}">主页</a></li>

                                                        <li><a href="{{url_for('tv_v.link',_external=True)}}">联系我们</a></li>
                                                </ul>
                                        </nav>
				
					<div class="cl">&nbsp;</div>

				
				</div>
				<div class="main">
<div class="about">
<p>叉叉直播是一个网络电视直播信息整合平台，方便用户通过网络观看电视节目。</p>
<p>本站节目资源收集于互联网，不拥有资源链接版权，如有侵权请告知，本站将及时删除。</p>
<p>联系方式，内容、合作等请发邮件：2072241141#qq.com(请将#换成@)</p>
</div>
	</div>	
				<div class="footer">
					<nav class="footer-nav">
						<ul>
						</ul>
					</nav>
  <p class="copy">Copyright © 2015, All Rights Reserved<span>|</span> <a href="{{url_for('tv_v.mainpage',_external=True)}}">xxptv.com </a></p>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>
